@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
    font-family: "Space Mono";
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background: hsl(189, 41%, 97%);
  text-align: right;
  width: 340px;
  border-radius: 4px;
  font-weight: bold;
  padding-right: 10px;
}

input[type=number]:focus {
    /* box-shadow: 0 0 6px #9DE8DF; */
    outline: #9DE8DF 2px solid
}

body {
    background: rgb(197, 228, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

main {
    background: #fff;
    display: flex;
    padding: 2em;
    min-width: 750px;
    max-width: 1000px;
    border-radius: 1em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
}

#logo {
    margin: 0 auto 0 auto;
    display: block;
}

#tip {
    background: hsl(184, 14%, 56%);
}

input[type="radio"] {
    display: none;
	position: absolute;
	width: 100%;
    appearance: none;
}

.radioContainer {
    max-width: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

label, h3 {
    font-size: 16px;
}

span {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

.radioContainer label {
    display: block;
    background: hsl(183, 100%, 15%);
    padding: 5px 30px;
    border-radius: 4px;
    color: #fff;
    width: 50px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    
}



@media only screen and (max-width: 768px) {

    body {
        height: 120vh;
    }

    main {
        flex-direction: column;
        min-width: initial;
        padding: 0;
    }
    
    form {
        align-items: center;
    }

    .radioContainer {
        grid-template-columns: 1fr 1fr;
    }
}


.container {
    width: fit-content;
    margin-bottom: 1em;
}

.radiobtn {
    position: relative;
    display: block;
    width: fit-content;
}

#custom {
    width: 110px;
    height: 46px;
    border-radius: 4px;
    text-align: center;
    padding-right: 0;
}

#custom:focus {
    text-align: right;
}

.button:hover {
    background-color: #9DE8DF;
    color: hsl(183, 100%, 15%);
}

input[type="radio"]:checked + label {
    background: #26C2AD;
}

.peopleContainer, .billContainer {
    position: relative;
}

.peopleContainer img {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.billContainer img {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.results {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: hsl(183, 100%, 15%);
    color: #fff;
    border-radius: 16px;
}

.amountGroup {
    padding: 0 1.5em 1.5em 1.5em;
}

.amount {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

#button {
    text-align: center;
    background-color: #26C2AD;
    cursor: pointer;
    padding: 10px 60px;
    margin: 0 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    color:hsl(183, 100%, 15%);
    border-radius: 6px;
    margin-bottom: 1em;
}

#button:hover {
    background-color: #9DE8DF;
}